.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  font-size: 32px;
  border: none;
  outline: none;
  width: 100vw;
  text-align: center;
  margin-bottom: 15px;
}

.time {
  text-align: center;
}